/* Dark theme sticks to strong CRT-like contrast */
.root {
    -fx-base: #000000;
    -fx-control-inner-background: #000000;
    -fx-text-base-color: #e0f8d0;
}

.right-panel {
    -fx-background-color: #080c12;
}

.menu-button, .menu-button:hover {
    -fx-background-color: #202830;
    -fx-text-fill: #e0f8d0;
}

.menu-bar {
    -fx-background-color: #000000;
}

.menu-bar .menu-button {
    -fx-background-color: transparent;
    -fx-text-fill: #e0f8d0;
}

.control-bar {
    -fx-background-color: #080c12;
}

.control-button {
    -fx-background-color: #202830;
}

.control-button:hover {
    -fx-background-color: #2a3644;
}
